[submodule ".themes/venice"]
	path = .themes/venice
	url = git://github.com/octopress-themes/venice.git
[submodule ".themes/foxslide"]
	path = .themes/foxslide
	url = https://github.com/sevenadrian/foxslide
