[submodule ".themes/venice"]
	path = .themes/venice
	url = git://github.com/octopress-themes/venice.git
[submodule ".themes/foxslide"]
	path = .themes/foxslide
	url = https://github.com/sevenadrian/foxslide
[submodule ".themes/classic-martinb"]
	path = .themes/classic-martinb
	url = git://github.com/martinbjeldbak/classic-martinb.git
